@import "../node_modules/bootstrap/scss/bootstrap.scss";

::-webkit-scrollbar {
    background-color: #333;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border: 0px none #333;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #333;
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    border-radius: 48px;
}

::-webkit-scrollbar-track:hover {
    background: #666666;
}

::-webkit-scrollbar-track:active {
    background: #333333;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-size: .875rem;
    user-select: none;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.screen {
    display: none;
}

.hoverable {
    background-color: #aad3ff;
}

.sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-link {
        font-weight: 500;
        color: #333;

        .feather {
            margin-right: 4px;
            color: #999;
        }

        &:hover {
            .feather {
                color: inherit;
            }
        }
    }

    .nav-link.active {
        color: #007bff;

        .feather {
            color: inherit;
        }
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
}

.navbar-nav {
    li {
        margin-left: 16px;
    }

    flex-direction: row !important;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

table {
    td {
        img {
            height: 64px;
        }
    }
}

.viewer-table {
    tbody {
        td {
            line-height: 64px;
        }
    }
}

#tiler {
    img {
        width: 33%;
    }
}

#tiler-textures {
    max-height: calc(100vh - 170px);
    min-height: min-content;
    overflow-y: scroll;

    img {
        width: calc(20% - 21px);
        margin: 5px;
    }
}

.clickable {
    cursor: pointer;
}

#darkmode-toggle svg:nth-child(2) {
    display: none;
}

.darkmode {
    @import "darkmode.scss";
}