@import "../node_modules/bootstrap/scss/bootstrap.scss";

::-webkit-scrollbar {
    background-color: rgb(146, 146, 146);
    width: 8px;
    height: 16px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgb(146, 146, 146);
    border: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}

::-webkit-scrollbar-thumb:active {
    background: #000000;
}

::-webkit-scrollbar-track {
    background: #ccc;
    border: 0;
}

::-webkit-scrollbar-track:hover {
    background: #ccc;
}

::-webkit-scrollbar-track:active {
    background: rgb(146, 146, 146);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-size: .875rem;
    user-select: none;
}

*:focus {
    outline: none;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.screen {
    display: none;
}

.hoverable {
    background-color: #aad3ff;
}

.sidebar {
    position: fixed;
    top: 48px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

    .nav-link {
        font-weight: 500;
        color: #333;

        .feather {
            margin-right: 4px;
            color: #999;
        }

        &:hover {
            .feather {
                color: inherit;
            }
        }
    }

    .nav-link.active {
        color: #007bff;

        .feather {
            color: inherit;
        }
    }
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar {
    .form-control {
        padding: .75rem 1rem;
        border-width: 0;
        border-radius: 0;
    }
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);

    &:focus {
        border-color: transparent;
        box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
    }
}

.navbar-nav {
    li {
        margin-left: 16px;
    }

    flex-direction: row !important;
}

img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

table {
    td {
        img {
            height: 64px;
        }
    }
}

.viewer-table {
    tbody {
        td {
            line-height: 64px;
        }
    }
}

#tiler {
    img {
        width: 33%;
    }
}

#tiler-textures {
    max-height: calc(100vh - 170px);
    min-height: min-content;
    overflow-y: scroll;

    img {
        width: calc(20% - 21px);
        margin: 5px;
    }
}

.dropdown-item {
    img {
        margin-right: 5px;
    }
}

.clickable {
    cursor: pointer;
}

#darkmode-toggle svg:nth-child(2) {
    display: none;
}

#view-txt {
    tr:hover {
        cursor: pointer;
        background-color: #aad3ff !important;
    }
}

#recipe-mc-blocks {
    text-align: center;

    img {
        width: 100%;
        height: auto;
        max-width: 64px;
        image-rendering: unset;
        cursor: grab;
    }
}

.crafting-holder {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    background: #c6c6c6;
    border-color: #373737 #fff #fff #373737;
    border-style: solid;
    border-width: 2px;

    .crafting {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 230px;
        margin: 0 auto;

        .recipe {
            display: flex;

            .table-wrap {
                display: flex;
                flex-wrap: wrap;
                max-width: 110px;
            }
        }

        .arrow {
            width: 32px;
            height: 27px;
            margin-left: 16px;
            margin-right: 16px;
            background-size: cover;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAbCAAAAAA4rNJGAAAAQElEQVR42mM4hgG6u5F5DGQpQFZCrgKEEvIVwJRQogCihLCCbryAcgXd3ZQqIMYNlIcD7eKC0vRAaZqkNF+gAgA5zlZP3VSoCQAAAABJRU5ErkJggg==);
        }

        .flame {
            width: 32px;
            height: 32px;
            margin-bottom: 5px;
            background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkBAMAAAATLoWrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABJQTFRF////i4uL2ExF/7YA//8f/////sQCSgAAAAF0Uk5TAEDm2GYAAAB3SURBVCjPrc7BDcUwCANQr+AVvIJX8Aref5V/SFtV+iGnIoHIQ6AAn4b+uw1Z10vmTPCTB1IIRCtHcrg24wOlXB9oOJJiAjHh+/6GXBFqeA33lBJwRDz3N9QacEn4QGq4tlONhJZIs5qJXBNuCdcjgeS7DPRZ/ABtDiv37uDbbgAAAABJRU5ErkJggg==);
        }

        .plus {
            width: 26px;
            height: 26px;
            margin-left: 16px;
            margin-right: 16px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAPElEQVRIx2P8//8/AzGgp6cHq8KSkhJGYvQzjlo0atGoRUPIou7ubuJsohCMWjRq0WiGHbVo1KJRi/AAAG4um58X3Ja9AAAAAElFTkSuQmCC);
        }
    }

    .crafting.full {
        max-width: 100%;
    }
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.grid {
    position: relative;
    display: block;
    text-align: center !important;
    background-color: #8b8b8b;
    border-color: #373737 #fff #fff #373737;
    border-style: solid;
    border-width: 2px;
    vertical-align: middle;
    width: 36px;
    height: 36px;

    &:hover {
        background-color: hsla(0, 0%, 100%, .4);
    }

    img {
        cursor: move;
    }
}

.grid-furnace {
    position: relative;
    display: block;
    text-align: center !important;
    background-color: #8b8b8b;
    border-color: #373737 #fff #fff #373737;
    border-style: solid;
    border-width: 2px;
    vertical-align: middle;
    width: 36px;
    height: 36px;

    &:hover {
        background-color: hsla(0, 0%, 100%, .4);
    }

    img {
        cursor: move;
    }
}

.grid-large {
    position: relative;
    display: block;
    text-align: center !important;
    background-color: #8b8b8b;
    border-color: #373737 #fff #fff #373737;
    border-style: solid;
    border-width: 2px;
    vertical-align: middle;
    width: 48px;
    height: 48px;

    img {
        z-index: -1;
        margin-top: 8px;
        cursor: move;
    }

    &:hover {
        background-color: hsla(0, 0%, 100%, .4);
    }
}

.crafting-table-output {
    display: flex;
}

.crafting-table-output-count {
    position: absolute;
    bottom: 0;
    right: 5%;
    color: #fff;
    font-family: Minecraft;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.recipe {
    >h6 {
        font-family: Minecraft;
    }
}

.ingredients {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 10px;
    background: #c6c6c6;
    border-color: #373737 #fff #fff #373737;
    border-style: solid;
    border-width: 2px;
}

@media screen and (max-device-width:400px) {
    .crafting {
        .arrow {
            margin-left: 0;
            margin-right: 0;
        }
    }
}

canvas {
    width: 100% !important;
    height: auto !important;
}


.darkmode {
    @import "darkmode.scss";
}

.warning, .error, .info {
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        background: #ff9800;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        z-index: 99;
        top: 22px;
        left: 26px;
        border: 2px solid #f8f9fa;
    }
}

.error {
    &:before {
        background: #f44336;
    }
}

.info {
    &:before {
        background: #2196f3;
    }
}