<!doctype html>
<html lang="en">

<head>
    <title>%textureName0%</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./dist/app.css">
</head>

<body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" style="max-width: unset;">%textureName1%</a>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link external" href="https://github.com/kalucky0/mc-assets-editor">
                    <span data-feather="github"></span>
                </a>
            </li>
            <li class="nav-item text-nowrap">
                <a class="nav-link external" href="https://github.com/kalucky0/mc-assets-editor/issues">
                    <span data-feather="help-circle"></span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <img src="%textureSource%" style="margin-top: 0.75rem; display: block; margin-left: auto; margin-right: auto; min-width: 230px; min-height: 95px; width: auto; height: auto;" class="" />
        <hr>
        <div style="text-align: center;">%textureInfo%</div>
    </div>
    <script src="./dist/jquery.js"></script>
    <script src="./dist/bootstrap.js"></script>
</body>
</html>